.edit {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  border: 1px solid #ddd;

}

.grid-item:hover .edit{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.grid-item .text {
  font-size: 14px;
  color: #333;
}

