/* frontend/src/pages/project-page/ProjectPage.css */
.project-page {
    width: 100%;
    min-height: 100vh;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .renderer-container {
    width: 100%;
    max-width: 800px;
    min-width: 800px;
    padding: 30px;
    min-height: 500px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: 0;
    transition: all 0.3s ease-in-out;
    overflow-y: auto;
  }

  .renderer-container.shifted {
    margin-top: 0px;
  }
